.detail-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.detail-card {
  width: 100%;
  max-width: 600px;
  margin: auto;
}
